<nav class="navbar">
    <div class="container nav-container">

        <a href="{{ '/' | relative_url }}" class="logo">
            Mohit Joshi
        </a>

        <ul class="nav-links">
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/research' | relative_url }}">Research</a></li>
            <li><a href="{{ '/publications' | relative_url }}">Publications</a></li>
            <li><a href="{{ '/software' | relative_url }}">Software</a></li>
            <li><a href="{{ '/talks' | relative_url }}">Talks</a></li>
            <li><a href="{{ '/teaching' | relative_url }}">Teaching</a></li>
            <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
        </ul>

    </div>
</nav>